body {
  background: #000000e0;
}
a {
  color: rgb(255, 0, 0);
  text-decoration: none;
}
h1 {
  color: rgb(0, 0, 0);
  max-width: 300px;
  margin: auto;
  border-radius: 20px;
}
h2 {
  color: rgb(0, 0, 0);
}
.productos {
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-wrap: wrap;
}
.producto {
  background-color: blanchedalmond;
  border: 5px solid rgb(193, 0, 164);
  padding: 10px;
  border-radius: 20px;
  max-width: 350px;
  margin: 20px 20px 20px 20px;
}
.definicion {
  font-size: large;
}
nav {
  margin: 30px;
  font-size: large;
  display: flex;
  justify-content: flex-end;
}
.steam {
  padding: 10px;
  border-radius: 20px;
  max-width: 350px;
  margin: 20px 20px 20px 20px;
}
.productoUSP {
  background-color: blanchedalmond;
  border: 5px solid #3500e1da;
  padding: 10px;
  border-radius: 20px;
  max-width: 350px;
  margin: 20px 20px 20px 20px;
}
.productoMEDALLA {
  background-color: blanchedalmond;
  border: 5px solid #fb000091;
  padding: 10px;
  border-radius: 20px;
  max-width: 350px;
  margin: 20px 20px 20px 20px;
}
.Fecha {
  color: aqua;
}
.StatTrak {
  color: rgb(255, 94, 0);
}
.cs2 {
  justify-content: flex-start;
}
